.title{
    input{
        font-size:40px;
        font-weight: 700;
        color: #8e1d1d;
    }
    div {
        &::before, &::after {
            // display: none;
            border-color:#c6bebe;
        }
    }
}
.imagee{
    width: 100%;

}
.tags{
    margin: 15px 0;
}
.editor{
    margin: 30px 0 ;
    :global{
        .cm-s-easymde{
            bottom: 0;
            font-size: 22px;
        }
        .editor-toollbar{
            border: 0;
            background-color: rgba(43, 42, 42, 0.02);
        }
    }
}

.buttons{
    display: flex;
    button{
        margin-right: 15px;
    }
}